.vermelho {
    color: red;
    font: 3rem;
    font-style: italic;
  }
  .azul {
    color: blue;
    font: 3rem;
    font-style: italic;
  }
  .verde {
    color:green;
    font: 3rem;
    font-style: italic;
  }